<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DuoJourney - ログイン</title>
    <link rel="icon" type="image/jpg" href="/logo.jpg">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
<header>
    <img id="logo" src="/logo.jpg" alt="DuoJourney's logo img">
</header>
<main>
    <form th:action="@{/login}" method="POST">
        <div class="form-floating mb-3 form-section">
            <input type="text" id="user_id" class="form-control" name="user_id" placeholder="userid or email" aria-describedby="userIdHelpBlock">
        </div>
        <div class="form-floating mb-3 form-section">
            <input type="text" id="password" class="form-control" name="user_id" placeholder="password" aria-describedby="userIdHelpBlock">
        </div>
        <button type="submit" class="btn btn-large btn-success">Sign in</button>
    </form>
</main>
<footer></footer>
</body>
</html>